.text-container{
    padding: 20px;
}

.container{
    padding: 40px;
}
.btn-center-box{
    text-align: center;
}

.border-shadow{
    box-shadow:0px 2px 7px 0px rgba(211,211,211,0.5);
}

.radius-8{
    border-radius: 8px;
}

.p20{
    padding: 20px;
}


.mt40{
    margin-top: 40px;
}
.mb40{
    margin-bottom: 40px;
}
.mt6{
    margin-top: 6px;
}
.mr5{
    margin-right: 5px;
}
.mb30{
    margin-bottom: 30px;
}
.mt10{
    margin-top: 10px;
}

.mt160{
    margin-top: 160px;
}
.mb120{
    margin-bottom: 120px;
}
.mb50{
    margin-bottom: 50px;
}
.mb10{
    margin-bottom: 10px;
}
.ml10{
    margin-left: 10px;
}
.ml80{
    margin-left: 80px;
}
.mr80{
    margin-right: 80px;
}
.mr30{
    margin-right: 30px;
}
.ml30{
    margin-left: 30px;
}
.ml20{
    margin-left: 20px;
}
.mr50{
    margin-right: 50px;
}
.ml50{
    margin-left: 50px;
}
.mt60{
    margin-top: 60px;
}
.mt20{
    margin-top: 20px;
}
.mt10{
    margin-top: 10px;
}
.mr8{
    margin-right: 8px;
}
.pb20{
    padding-bottom: 20px;
}
.mr20{
    margin-right: 20px;
}
.pb40{
    padding-bottom: 40px;
}
.pt30{
    padding-top: 30px;
}
.pt20{
    padding-top: 20px;
}
.pt60{
    padding-top: 60px;
}
.pr40{
  padding-right: 40px;
}
.pb30{
    padding-bottom: 30px;
}
.mt100{
    margin-top: 100px;
}
.mt30{
    margin-top: 30px;
}
.mb20{
    margin-bottom: 20px;
}
.mr10{
    margin-right: 10px;
}
.pt15{
    padding-top: 15px;
}
.pl10{
    padding-left: 10px;
}
.pl20{
    padding-left: 20px;
}
.pl30{
    padding-left: 30px;
}
.pl40{
  padding-left: 40px;
}
.pr20{
    padding-right: 20px;
}

.bg-f9{
    background: #f9f9f9;
}
.bg-f{
    background: #fff;
}
.width-100{
    width: 100px;
}

.width-200{
    width: 200px;
}
.width-500{
    width: 500px;
}
